---
layout: default
title: My work
---

<div class="page-header">
	<h1>My work</h1>
</div>

<div>
	{% for post in site.posts %}
	<a href="{{post.url}}">
		<div class="entry well">
			<h3>{{ post.title }}<span class="muted"> - {{ post.date | date: "%d %B %Y" }}</span></h3>
			{% if post.image %}<img src="{{post.image}}" alt="{{post.title}}" />{% endif %}
		</div>
	</a>
	{% endfor %}
</div>

 

<!--
<ul class="entries">
    {% for post in site.posts %}
 
 
  <li>
    <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      {% if post.image %}<img src="{{post.image}}" alt="{{post.title}}" />{% endif %}
    </a>
  </li>
 
  {% endfor %}
</ul>
-->