<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title> {% if page.title %} {{ page.title }} | {% endif %} David Blayney </title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand">David Blayney</a>
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/portfolio">My work</a></li>
					<li><a href="#contact" role="button" data-toggle="modal">Contact me</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">

		{{ content }}

	</div>

	<!-- Contact me modal -->
	<div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="contactLabel">Contact me</h3>
		</div>
		<div class="modal-body">
			<p>You can contact me personally through the following social media outlets</p>
			<p style="font-size:36px; text-align:center">
				<a href="http://twitter.com/davblayn"><i class="icon-twitter-sign"></i></a>
				<a href="http://au.linkedin.com/in/dblayney"><i class="icon-linkedin-sign"></i></a>
				<a href="https://plus.google.com/108738783171608407069"<i class="icon-google-plus-sign"></i></a>
			<hr />
			<p>Any emails regarding Laggacy can be send <a href="http://laggacy.wordpress.com/contact">here</a></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

	<!-- Scripts -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
</body>
